* {
  box-sizing: border-box;
}

body {
  background: #DBC075;
  /* background-image: url(grit.png); */
  color: white;
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}